.container{
width: 45%;
margin: auto;
padding: 1rem;
border-radius: 1rem;

}
.full-width {
  width: 100%;
}

h1, img {
 text-align: center;
}

img {
  height: 10rem;
}

.status{
  width: 48%;
  margin-right: 1rem;
}

.prioridade{
  width: 48%;
}

.descricao{
  min-height: 6rem;
  max-height: 10rem;
}

button {
  margin-top: .5rem;
}
