<div class="container">

  <div class="mat-elevation-z8">

    <div class="header">
      <h1>LEMES ROÇADEIRAS E MOTOSERRAS</h1>
      <h2>MANUTENÇÃO E VENDAS DE PEÇAS E ACESSÓRIOS</h2>
      <h3>CNHPJ: 38.656.210/0001-05</h3>
      <h3>TELEFONE: (61) 9-9632-7867</h3>
      <h3>RECIBO 539</h3>
    </div>
    <div class="subHeader">
      DATA: {{ chamado.dataAbertura }}<br />
      CLIENTE: {{chamado.nomeCliente}}<br />
      TELEFONE: {{chamado.cliente.telefone}}<br />
      MAQUINA: {{ chamado.titulo }} MODELO: PS 1232<br />
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO DOS SERVIÇOS </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.descricao}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef> Quantidade </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.quantidade}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.valor | currency}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="valor_total">
          <th mat-header-cell *matHeaderCellDef> Valor Total </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.valor * transaction.quantidade | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getValorTotalItens() | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      </table>
    </div>

    <div>
      <table class="table" mat-table [dataSource]="dataSourceServico">

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef><strong> DESCRIÇÃO DOS SERVIÇOS </strong></th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>


        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor</th>
          <td mat-cell *matCellDef="let element"> {{element.valor | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getValorTotalServicos() | currency }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsServico"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsServico"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsServico"></tr>
      </table>
    </div>

  </div>
</div>
