.container {
  width: 80%;
  margin: auto;
  font-size: 70%;
}

.table {
  width: 85%;
  margin-left: 50px;
  margin-bottom: 1rem;
  font-size: 70%;
  font-family: 'Franklin Gothic Medium', 'Times New Roman', Arial, sans-serif;
  margin-bottom: 2.5rem;
}

.header{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Times New Roman', Arial, sans-serif;
  color: rgb(56, 55, 55);
  line-height: 0.3;
  padding-top: 30px;
}

.subHeader{
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Times New Roman', Arial, sans-serif;
  color: rgb(56, 55, 55);
  padding-left: 49px;
  padding-top: 27px;
  padding-bottom: 16px;
  width: 800px;
  text-align: justify;
}

h1 {
  width: 100%;
  text-align: center;
}

tr.mat-header-row {
  height: 20px;
  background-color: rgb(245, 240, 240);
}

tr.mat-row, tr.mat-footer-row {
  height: 30px;
}

.button-superior-thumb-up{
position: relative; top: 37px; left: 0.3rem
}

.button-superior-thumb-down{
position: relative; top: 37px; left: 0.6rem
}

.button-superior-imprint{
position: relative; top: 37px;
}
