.container {
  width: 100%;
  margin: auto;
}

.table {
  width: 85%;
  margin-left: 50px;
}

.header{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(56, 55, 55);
  line-height: 0.3;
  padding-top: 30px;
}

.subHeader{
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(56, 55, 55);
  padding-left: 49px;
  padding-top: 27px;
  padding-bottom: 16px;
}

.container {
  width: 90%;
  margin: auto;
}

h1 {
  width: 100%;
  text-align: center;
}

