<mat-card class="card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <div class="imagens">
    <img src="assets\img\rocadeira.jpg" alt="Photo of a Shiba Inu">
    <img src="assets\img\motorserra.jpg" alt="Photo of a Shiba Inu">
    <img src="assets\img\cortador-grama.jpg" alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
    <p style="color: black;">
      Olá seja bem vindo ao sistema help desk desenvolvido por Cleber Pires. <br /> O sistema é um programa de
      gerenciamento
      de chamado gerado pela a solicitação de um cliente pelo serviço de manutenção e distribuido para o Tecnico.
    </p>
  </mat-card-content>
</mat-card>
