.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

table td {
  border-spacing: .2rem;
  color: #495057;
  background-color: #e9ecef;
  border-color: #ada8a8;
  border-block-end-width: 4px;
}

table th {
  background: linear-gradient(180deg, rgba(12,80,88,1) 0%, rgba(68,173,194,1) 100%);
  border-color: #dee2e6;
  color: white;
  font-size: initial;
}

mat-paginator {
  background: linear-gradient(180deg, rgba(12,80,88,1) 0%, rgba(68,173,194,1) 100%);
  border-color: #dee2e6;
  color: white;
  font-size: initial;
  height: 60px;
}

button {
  width: 100%;
  background: linear-gradient(180deg, rgba(12,80,88,1) 0%, rgba(68,173,194,1) 100%);
  color: white;
  font-size: initial;
}

h1 {
  width: 100%;
  text-align: center;
}

.edit {
  color: rgb(43, 152, 160);
}

.delete {
  color: rgb(209, 47, 47);
}

mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

a {
cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

a {
  margin-right: .6rem;
}

.orcamento_green {
  color: #06b62c !important;
}
.orcamento_red {
  color: #e42323 ;
}
