<div class="container">
  <span>versão-release 1.0</span>
  <form class="form mat-elevation-z8">
    <h1>Login: Sistemas de Controle de Estoque</h1>
    <img src="assets/img/login.svg" alt="Login">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
      [formControl]="email"
      required
      matInput
      [(ngModel)]="creds.email"
      name="email"
      placeholder="Ex. email@dominico.com">
    </mat-form-field>

    <mat-form-field  class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input
      [(ngModel)]="creds.senha"
      [formControl]="senha"
      required
      matInput
      name="senha"
      type="password"
      placeholder="Ex. 123">
    </mat-form-field>

    <button
    (click)="logar()"
    [disabled]="!validaEmailSenha()"
    class="full-width mat-elevation-z4"
    mat-stroked-button color="primary">Primary</button>

  </form>
</div>
