.container {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(12,80,88,1) 0%, rgba(68,173,194,1) 100%);
}

form {
  width: 30rem;
  margin: auto ;
  background: rgb(235, 235, 235);
  padding: 4rem 1rem;
  border-radius: 1rem;
}

h1{
  width: 100%;
  text-align: center;
}

.full-width{
  width: 100%;
}

button {
  margin-top: 1.5rem auto 1.5rem auto;
}

img {
  width: 100%;
  height: 10rem;
  margin: 1.5rem auto 1.5 rem auto;
}

span {
  position: absolute;
  top: 0 ;
  left: 0;
  opacity: 0.7;
}
