<div class="container">
  <form class="form mat-elevation-z8">
    <h1>Login: Sistemas Help Desk</h1>
    <img src="assets/img/login.svg" alt="Login">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
      [formControl]="email"
      required
      matInput
      [(ngModel)]="creds.email"
      name="email"
      placeholder="Ex. email@dominico.com">
    </mat-form-field>

    <mat-form-field [(ngModel)]="creds.senha" class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input
      [formControl]="senha"
      required
      matInput
      name="senha"
      type="password"
      placeholder="Ex. 123">
    </mat-form-field>

    <button [disabled]="!validaEmailSenha()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Primary</button>

  </form>
</div>
