.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
}

.edit {
  color: rgb(43, 152, 160);
}

ul.a {
  list-style-type: circle;
  background-color: rgb(222, 237, 238);
}

.button-remover {
  width: 20%;
}

.trFinal{
  padding: .1rem;
  background-color:rgb(43, 152, 160);
}

