<div class="container">
  <mat-tab-group dynamicHeight>

    <mat-tab label="Pendências">
      <div class="box-pendencia mat-elevation-z4">
        Digitar pendências:
        <input style="background-color:lightblue" [(ngModel)]="txtpendencia" name="pendencia"
               matInput placeholder="Click aqui para digitar.">
          <mat-icon (click)="addPendencia()">add</mat-icon>
      </div>
      <div class="box-text mat-elevation-z4">
        <div hidden="true" *ngFor="let e of listDescricaoPendencia">
          <ul>
            <li>{{dataNow | date: 'dd/MM/yyyy'}} - {{e}}
            <mat-icon (click)="removePendencia($event, e)">remove_circle_outline</mat-icon>
            </li>
          </ul>
        </div>

        <div *ngFor="let e of listaPendenciaDB">
          <ul>
            <li>{{e.descricao}}
              <mat-icon (click)="remover(e)">remove_circle_outline</mat-icon>
            </li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Situação da máquina">
      <div class="large-box mat-elevation-z4">
        <mat-list>
          <mat-list-item>Entrada da máquina dia:  {{chamado.dataAbertura | date:"dd/MM/yyyy" | uppercase}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Pronta entrega desde a data: {{chamado.dataFechamento | date:"dd/MM/yyyy" | uppercase}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Máquina retirada dia: {{chamado.dataEntrega | date:"dd/MM/yyyy" | uppercase}}</mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Concluir OSM" disabled="{{chamado.dataFechamento !== null}}">
      <div class=" small-box mat-elevation-z4">
          <mat-card>
          <mat-calendar [(selected)]="selected"></mat-calendar>
           <strong> {{selected | date}} </strong>
           <button mat-raised-button
              (click)="finalizarOsm()"
              class="full-width" color="primary">
              <mat-icon> done_outline</mat-icon>
               finalizar serviço
            </button>
          </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Datar Entrega" disabled="{{chamado.dataEntrega !== null}}">
      <div class=" small-box mat-elevation-z4">
          <mat-card>
          <mat-calendar [(selected)]="selected"></mat-calendar>
           <strong> {{selected | date}} </strong>
           <button mat-raised-button
              (click)="entregaMaquina()"
              class="full-width" color="primary">
              <mat-icon> done_outline</mat-icon>
               Datar Entrega
            </button>
          </mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
