.container {
  width: 90%;
  margin: auto;
}

.box-pendencia, .small-box, .large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.small-box {
  height: 320px;
  width: 300px;
}

.large-box {
  height: 300px;
  width: 300px;
}

.box-pendencia {
    height: 50px;
    width: 446px;
}

.box-text {
  height: 200px;
  width: 479px;
  border: 1px solid #555;
  overflow: auto;
  margin-left: 0.9rem
}

.full-width {
  width: 30rem;
  margin-left: 0.9rem;
  margin-top: 2px;
}
