<div class="container">
  <mat-tab-group dynamicHeight>

    <mat-tab label="Pendências">
      <div class="box-pendencia mat-elevation-z4">
        Digitar pendências:
        <input style="background-color:lightblue" [(ngModel)]="txtpendencia" name="pendencia"
               matInput placeholder="Click aqui para digitar.">
          <mat-icon (click)="addPendencia()">add</mat-icon>
      </div>
      <div class="box-text mat-elevation-z4">
        <div hidden="true" *ngFor="let e of listDescricaoPendencia">
          <ul>
            <li>{{dataNow | date: 'dd/MM/yyyy'}} - {{e}}
            <mat-icon (click)="removePendencia($event, e)">remove_circle_outline</mat-icon>
            </li>
          </ul>
        </div>

        <div *ngFor="let e of listaPendenciaDB">
          <ul>
            <li>{{e.descricao}}
              <mat-icon (click)="remover(e)">remove_circle_outline</mat-icon>
            </li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Situação da máquina">
      <div class="large-box mat-elevation-z4">
        * Máquina pronta entrega aguardando retirada desde a data 14/09/22.
        * Máquina retirada dia dd/mm/yyyy.
        * Entrada da máquina dia dd/mm/yyyy.
      </div>
    </mat-tab>
    <mat-tab label="Concluir OSM">
      <div class="small-box mat-elevation-z4">
        <div>
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
           <strong> {{selected | date}} </strong>
          </mat-card>
          <button mat-raised-button
                  (click)="finalizarOsm()"
                  class="full-width" color="primary">
            <mat-icon> done_outline</mat-icon>
            finalizar serviço
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
