
div.box {
	width: 150px;
	display: inline-block;
  margin-right: 10%;
}

.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
}

.edit {
  color: rgb(43, 152, 160);
}

.delete {
  color: rgb(209, 47, 47);
}

a {
  cursor: pointer;
  }

  .demo-table {
    width: 100%;
  }

  .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-descricao {
    padding-left: 16px;

  }
  mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: initial;
  }
  .fab{
      display: flex;
      justify-content: center;
      width: 120px;
  }
