<div class="container mat-elevation-z8">
  <form action="">
    <h1 class="fullWidth">Atualizar Cliente</h1>


    <section class="section">
      <mat-checkbox (click)="addPerfil(0)" [disabled]="true" [checked]="admin" color="primary" class="margin">Administrador</mat-checkbox>
      <mat-checkbox (click)="addPerfil(1)" [disabled]="true" [checked]="clie" color="primary" class="margin">Cliente</mat-checkbox>
      <mat-checkbox (click)="addPerfil(2)" [disabled]="true" [checked]="tecni" color="primary" class="margin">Técnico</mat-checkbox>
    </section>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input
      [(ngModel)]="cliente.nome"
      name="nome"
      maxlength="50"
      [formControl] = "nome"
      required
      matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>CPF</mat-label>
      <input
      [(ngModel)]="cliente.cpf"
      name="cpf"
      mask="000.000.000-00"
      [formControl] = "cpf"
      required
      matInput placeholder="Placeholder">
      <mat-icon matSuffix>pin</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Email</mat-label>
      <input
      [(ngModel)]="cliente.email"
      name="email"
      [formControl] = "email"
      required
      matInput placeholder="Placeholder">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Senha</mat-label>
      <input
      [(ngModel)]="cliente.senha"
      name="senha"
      [formControl] = "senha"
      required
      type="password"
      matInput placeholder="Placeholder">
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <button (click)="update()" [disabled]="!validaCampos()" class="fullWidth" mat-flat-button color="primary">Atualizar</button>
    <button routerLink="../../" class="fullWidth" mat-stroked-button color="warn">Cancelar</button>

  </form>
</div>
